.dosed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  &__number {
    margin-left: 100px;
  }

  &__quote {
    margin-left: 50px;
  }

  &__container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;
    height: 100%;
    padding-left: 0;
  }

  &__item {
    margin: 50px;
    width: 150px;
    height: 150px;
    list-style-type: none;
  }

  &__link:before {
    content: '';
    display: block;
    position: static;
    margin-bottom: 10px;
  }

  &__link {
    cursor: pointer;
    border: 6px double black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--main-basic-color);
    text-decoration: none;
    text-align: center;
  }

  &__link:hover {
    background-color: var(--main-basic-color);
    color: var(--main-light-color);
    transition: 0.48s;
  }

  &__link--glasses:before {
    height: 40px;
    width: 100px;
    background: url(../img/glasses.png) center center no-repeat;
    background-size: 100px 100px;
  }

  &__link--glasses:hover:before {
    height: 40px;
    width: 100px;
    background: url(../img/glasses__white.png) center center no-repeat;
    background-size: 100px 100px;
  }

  &__link--cinema:before {
    height: 70px;
    width: 70px;
    background: url(../img/cinema.png) center center no-repeat;
    background-size: 70px 70px;
  }

  &__link--cinema:hover:before {
    height: 70px;
    width: 70px;
    background: url(../img/cinema__white.png) center center no-repeat;
    background-size: 70px 70px;
    background-position-y: 25%;
  }
  &__link--music:before {
    height: 70px;
    width: 70px;
    background: url(../img/music.png) center center no-repeat;
    background-size: cover;
  }

  &__link--music:hover:before {
    height: 70px;
    width: 70px;
    background: url(../img/music__white.png) center center no-repeat;
    background-size: 70px 70px;
    background-position-y: 35%;
  }
  &__link--trackers:before {
    height: 70px;
    width: 70px;
    background: url(../img/list.png) center center no-repeat;
    background-size: 70px 70px;
  }

   &__link--trackers:hover:before {
    height: 70px;
    width: 70px;
    background: url(../img/list__white.png) center center no-repeat;
    background-size: 70px 70px;
    background-position-y: 25%
  }
  &__link--repeat:before {
    height: 60px;
    width: 60px;
    background: url(../img/repeat.png) center center no-repeat;
    background-size: 60px 60px;
  }

   &__link--repeat:hover:before {
    height: 60px;
    width: 60px;
    background: url(../img/repeat__white.png) center center no-repeat;
    background-size: 60px 60px;
    background-position-y: 35%;
  }
  &__link--action:before {
    height: 75px;
    width: 80px;
    background: url(../img/action.png) center center no-repeat;
    background-size: 80px 80px;
  }

   &__link--action:hover:before {
    height: 75px;
    width: 80px;
    background: url(../img/action__white.png) center center no-repeat;
    background-size: 80px 80px;
    background-position-y: 25%;
  }
  &__link--word:before {
    height: 80px;
    width: 90px;
    background: url(../img/word.png) center center no-repeat;
    background-size: 90px 80px;
  }

  /*у button__word нет hover т.к. у иконки png залит фон - менять цвет не требуется*/
  &__link--sun:before {
    height: 80px;
    width: 80px;
    background: url(../img/sun.png) center center no-repeat;
    background-size: 80px 80px;
  }

   &__link--sun:hover:before {
    height: 80px;
    width: 80px;
    background: url(../img/sun__white.png) center center no-repeat;
    background-size: 80px 80px;
  }

}
