.header {
  width: 100%;
  min-height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-light-color);
  border-bottom: 3px solid #e4dfdc;

  &__title {
    font-size: 36px;
    color: var(--main-basic-color);
    display: flex;
    min-height: 83px;
    text-align: center;
  }

  &__burger {
    width: 50px;
    height: 50px;
    display: none;
  }

  &__line {
    width: 50px;
    height: 4px;
    background: var(--main-basic-color);
    border: none;
    margin-bottom: 4px;
  }

  &__line:last-child {
    margin-bottom: none;
  }

}
