.subtitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-basic-color);
  height: 100px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
