doctype html
html
  include components/head
  +head("mind games")
  body
    include components/header
    +header_title("mind games.")
    main
      include components/promo
      include components/desc
      include components/slogan
      include components/block
      include components/reference
    include components/footer
