.intro
  .intro__quote
    .intro__quote_text.heading "A different language is a different vision of life."
    .intro__quote_subtitle.subheading Federico Fellini.
  .intro__wrapper
    .intro__container
      .intro__text.paragraph Знаете, есть замечательная теория о том, как меняется мышление человека и его поведение в зависимости от того на каком языке он говорит.  Этот момент интересно преподнесен, например, в фильме “Прибытие”, где язык был ...[никаких спойлеров - лучше посмотреть]. Изучая и используя не родной язык мы познаём иные виды мышления, иные взгляды на мир,  что делает это занятие еще более удивительным.
      .intro__headline.subheading Who are we?
      .intro__headline_text.paragraph Мы - не полиглоты, не школа и даже не учителя. Мы просто также как и вы любим языки и нуждаемся в них, потому что жаждем путешествовать, читать книги в оригинале и с наслаждением смотреть кино без субтитров.
    .intro__images
      img.intro__img(src="../img/intro.jpg" alt="image will be here" width="352" height="521")
