.popup_mentoring.js-popup
  .popup_mentoring__wrapper
    .popup_mentoring__box
      btn.popup_mentoring__cross.js-popup-cross
    .popup_mentoring__content
      .popup_mentoring__title submit application
      .popup_mentoring__text for mentoring:
      .popup_mentoring__form
        label.popup_mentoring__label(for="email")
        input.popup_mentoring__input(type="email" name="email_address" placeholder="your target [ваша цель]" value="" onfocus="ClearText(this)")
        label.popup_mentoring__label(for="email")
        input.popup_mentoring__input(type="email" name="email_address" placeholder="time [время]" value="" onfocus="ClearText(this)")
        label.popup_mentoring__label(for="email")
        input.popup_mentoring__input(type="email" name="email_address" placeholder="how often [как часто]" value="" onfocus="ClearText(this)")
        .popup_mentoring__wrap
          .popup_mentoring__send SEND [отправить]
          .popup_mentoring__btn
            button.tagsub.popup_mentoring__link(type="button") -->
