.popup_langbook.js-popup
  .popup_langbook__wrapper
    .popup_langbook__box
      btn.popup_langbook__cross.js-popup-cross
    .popup_langbook__content
      .popup_langbook__title coming soon...
      .popup_langbook__text подписаться на уведомление о поступлении:
      .popup_langbook__form
        .popup_langbook__wrap
          label.popup_langbook__label(for="email")
          input.popup_langbook__input(type="email" name="email_address" placeholder="@mail/ phone..." value="" onfocus="ClearText(this)")
          .popup_langbook__btn
            button.tagsub.popup_langbook__link(type="button") -->
