.popup_workout.js-popup
  .popup_workout__wrapper
    .popup_workout__box
      .popup_workout__header "do it! just do it! what are you waiting for?"
      btn.popup_workout__cross.js-popup-cross
    .popup_workout__content
      .popup_workout__container.popup_workout__container_hw
        .popup_workout__title.popup_workout__title_hw h/w.
        .popup_workout__img
        .popup_workout__download
          a.popup_workout__link(href="#") Скачать doc.
          a.popup_workout__link(href="#") Скачать pdf.
      .popup_workout__container.popup_workout__container_review
        .popup_workout__title review/ ревью.
        video.popup_workout__video(src="#" autoplay poster="../img/video.jpg" controls="controls")
        .popup_workout__text Если все еще есть вопросы, мы рекомендуем попробовать courses или mentoring.
