.popup.js-popup
  .popup__wrapper
    .popup__box
      btn.popup__cross.js-popup-cross
    .popup__content
      .popup__text Посмотрите трейлер к новому фильму Нолана "Довод" и выявите все модальные глаголы.
