.promo
  .promo__wrap
    .promo__wrapper
       h2.promo__title QUICK and ELEGANT WAY TO LEARN LANGUAGE THEORY
       .promo__subtitle - for every human
       p.promo__text.paragraph 	Быстрый и изящный способ изучать теорию языка.
       p.promo__text.paragraph 	- для каждого человека.
       p.promo__text.paragraph 	Проект поможет вам не только разобраться в теории, но и практиковать её каждый день.
    //.promo__container
      //.promo__item P.S.
      //.promo__postscript.paragraph После полного прохождения теории - вы получите приглашение в OHANA, и мы будем вас ждать уже там.

  	 
